body{
    background-color: gold;
}
header h1 {
  color: rgb(201, 16, 16);
  font-size: xx-large;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul,li{
    display: flex;
    margin-left:10px;
}
a{
    text-align: center;
    margin-right: 5px;
    color: rgb(0, 89, 255);
}
.content{
    margin-left: 60px;
    float: left;
    margin-top: 20px;
}